<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stadium.name %>
</p>

<p>
  <strong>Other Names:</strong>
  <%= @stadium.other_names %>
</p>
<p>
  <strong>Capacity:</strong>
  <%= @stadium.capacity %>
</p>

<p>
  <strong>Country:</strong>
  <%= @stadium.country %>
</p>

<p>
  <strong>City</strong>
  <%= @stadium.city %>
</p>

<p>
  <strong>Clubs:</strong>
  <%= @stadium.clubs %>
</p>

<p>
  <strong>Inauguration:</strong>
  <%= @stadium.inauguration %>
</p>

<p>
  <strong>Construction:</strong>
  <%= @stadium.construction %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @stadium.cost %>
</p>

<p>
  <strong>Design:</strong>
  <%= @stadium.design %>
</p>

<p>
  <strong>Contractor:</strong>
  <%= @stadium.contractor %>
</p>

<p>
  <strong>Address:</strong>
  <%= @stadium.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stadium.description %>
</p>
<%= link_to 'Edit', edit_stadium_path(@stadium) %> |
<%= link_to 'Back', stadia_path %>
